<?php

$app_namespace = 'App';

$env = (object)[
	'environment' => 'development',
	'app_debug' => true,
	'app_name' => 'Awan',
	'base_url' => 'http://127.0.0.1:8010',
	'db_orm' => 'mysql',
	'db_host' => '127.0.0.1',
	'db_user' => 'root',
	'db_pass' => 'root',
	'db_name' => 'awan',
	'db_debug' => true,
	'mail_gateway' => 'log'
];